.page-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Playpen Sans', Arial;
    background-color: #6495ED;
    height: 60px;
    width: 100%;
}

.page-headline {
    text-align: center;
    color: white;
    font-size: 40px;
}

.board-main {
    display: flex;
    flex-direction: column;
}

.task-input-container {
    display: flex;
    margin-top: 16px;
    flex-direction: column;
    align-items: center;
}

.task-input {
    background: none;
    border-radius: 8px;
    width: 250px;
    padding: 8px;
    font-size: bold;
    border: 2px solid black;
    outline: none;
    font-family: "Playpen Sans", sans-serif;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.taskboard-content-container {
    display: flex;
    justify-content: center;
}

.taskboard-content {
    margin-top: 16px;
}

.task-card-container {
    display: flex;
    align-items: center;
}

.task-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin-bottom: 8px;
    width: 250px;
    height: 100px;
    border-radius: 16px;
    background-color: #6495ED;
    color: white;
}

.checkbox {
    cursor: pointer;
}

.checked {
    text-decoration: line-through;
}