.btn {
    outline: none;
    background: none;
    border: none;
}

.btn-font {
    font-family: "Playpen Sans", sans-serif;
}

.submit-btn {
    padding: 8px;
    background-color: white;
    border-radius: 8px;
    width: 250px;
    font-weight: bold;
}

.to-do-btn {
    display: flex;
}

.to-do-btn img {
    height: 20px;
    width: 20px;
}

.register-btn {
    font-family: 'Playpen Sans', Arial;
    background-color: #6495ED;
    padding: 8px;
    width: 100px;
    font-weight: bold;
    border-radius: 8px;
    color: #fff8dc;
}

.login-btn {
    font-family: 'Playpen Sans', Arial;
    background-color: #6495ED;
    padding: 8px;
    width: 100px;
    font-weight: bold;
    border-radius: 8px;
    color: #fff8dc;
}