body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.login-main {
    display: flex;
    justify-content: center;
    flex: 1;
}

.log-in-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 600px;
    height: 550px;
    margin-top: 16px;
    background-color: white;
    border-radius: 16px;
    color: #6495ED;
}

.log-in-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.log-in-form input {
    width: 300px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    outline: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.log-in-form span{
    font-weight: bold;
}

.continue {
    text-align: center;
}

.register-btn-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
}

.register-link{
    text-decoration: none;
    font-weight: bold;
}

.register-link:visited{
    color: #6495ED;
}

@media(max-height: 633px) {
    .log-in-section {
        height: 450px;
    }
}