.login-header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Playpen Sans', Arial;
    background-color: bisque;
    height: 60px;
    margin-bottom: 16px;
}

.to-do-headline{
    font-size: 40px;
}

.log-in-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Playpen Sans', Arial;
    /* width: 100%; */
    gap: 8px;
}

.log-in-form{
    display: flex;
    align-items: center;
    gap: 8px;
}

.register-btn-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
}

.color-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: aquamarine;
    width: 900px;
    padding: 36px;
}

